.love {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.95;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.two {
  background-image: url("/third.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.one {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.three {
  background-image: url("/grid-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.four {
  background-image: url("/fire.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.five {
  background-image: url("/tree.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
